.title {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  
}

.score {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.message {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
